.manage-campsite-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;

}
.manage-campsite{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 10%;
    margin-right: 10%;
}
.campsite-link{
    text-decoration: none;
  color: black;
  font-weight: bold;
}
.campsite-prev-img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
}
.manage-title{
    text-align: center;
    border-top:50px ;
    border-bottom: 50px;
}
.edit-btn-link button{
    padding: 10px 20px;
    background-color: #0073bb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.delete-campsite-btn button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
.single-managed-campsite{
    max-width: 300px;
}
.no-campsites{
    text-align: center;
    border-top:50px ;
    border-bottom: 50px;
}