/* TODO Add site wide styles */
img{
/* aspect-ratio: 3/2; */
max-height: 400px;
}
li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
  /* .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .fa-star-o{
    background-color: orange;
    color:white;
    
  } */
  body {margin:0;padding:0}
  .errors {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
  }
  h2{
    font-family: Tahoma;
  }
  p{
    font-family: Tahoma;
  }
  label{
    font-family: Tahoma;
  }