/* TODO Add site wide styles */
img{
aspect-ratio: 3/2;
max-height: 400px;
}
/* li {
    list-style: none;
  } */

  a {
    text-decoration: none;
    color: black;
  }
  /* .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .fa-star-o{
    background-color: orange;
    color:white;
    
  } */
  errors{
    color:red;
  }