.profile-dropdown {
position:absolute;
      right: 20px;
    top: 60px;
    padding: 15px 50px 20px 25px;
    border-radius: 15px;
    border:1px solid rgb(154, 146, 146);
    background-color: white;
    width:10rem;
    height:auto;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: flex-end;
font-weight: bold;
/* cursor: pointer; */
gap: 5px;
  /* padding-left: 7px; */
  /* margin-top: 34px; */
}

.hidden {
  display: none;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:90px;
}
.nav-searchbar{
/* padding-left: 40px; */
align-items: center;
}
.nav-searchbar input{
  height: 40px;
  width: 500px;
  border-radius: 10px;

  color: black;
}
.nav-searchbar button{
  height: 40px;
  border-radius: 10px;
  
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.logo{
  object-fit: cover;
  width:180px;
  height:70px;
  max-width:100%;
max-height:100%;
}
.profile-tree{
height: 100%;
width:100%;
object-fit: cover;
}
.profile-btn{
  width: 15;
  height:38px;
  border-radius: 10px;
  cursor: pointer;
}
.profile-form{
  margin-top: 1rem;
display:flex;
flex-direction: column;
justify-content: space-evenly;
column-gap: 5px;
flex-direction: row-reverse;
}
.profile-login button{
  background-color: forestgreen;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.profile-signup button{
  background-color: forestgreen;
  color: #fff;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
.logout-btn button{
  background-color: forestgreen;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}