
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  .form-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  

  .form-container div {
    margin-bottom: 20px;
  }
  

  .form-container p {
    font-size: 16px;
    margin-bottom: 5px;
    /* color: #555; */
  }
  

  .form-container input {
    width: 90%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  

 p .errors {
    color: #d9534f;
    font-size: 14px;
    margin-top: 5px;
  }
  

  .submit-btn {
    text-align: center;
  }
  
  .button {
    background-color: #da3743;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #c72f3a;
  }
  

  
  .create-image-upload {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  .create-image-upload img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
  }
