.errors{
    color: red;
}
.Signup-card{
    width:25rem;
    height:25rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 25px; */
}
.signup-form{
    margin:25px;
    display:flex;
    flex-direction: column;
    gap:15px;
}
.signup-email{
    width:20rem;
}
.signup-username{
    width:20rem;
}
.signup-password{
    width:20rem;
}
.signup-confirm{
    width:20rem;
}
.signup-btn{
    display: flex;
    justify-content: center; 
}