.index-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
}
/* .index-image{

} */
.Adventure-text{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
}
.index-img-container{
    width:100%;
}
.index-img{
    width:100%;
}
.top-rated-container{
    border: 3px solid #ccc;
    width:600px;
}
.index-margin{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}
.top-all-break{
    border-bottom: 2px #ccc;
    width: 100%;
}
 .all-campsites-container{
     display: flex; 
     flex-wrap: wrap; 
     gap: 20px; 
     margin-top: 20px; 
     /* flex-direction: column;  */
 }  
.top-index-campsite{
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width:200px;
    flex-direction: row;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    min-height: 200px;
}
.top-campsites-container{
    display: flex; 
     flex-wrap: wrap; 
     gap: 20px; 
     margin-top: 20px; 
     text-decoration: none;
 }

.index-campsite{
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    width:200px;
    text-decoration: none;
}
.campsite-prev-img{
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 4px;
}

