.single-campsite-container{
    /* margin-left: 20%;
    margin-right: 20%; */
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}
.single-campsite-title img {
    text-align: center;
  }
  .campsite-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .text-image{
    position: absolute; /* Position the text-image absolutely within .single-campsite-title */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* color: white; */
    padding: 20px;
    padding-right: 400px;
    text-align: center;
  }
  .text-image .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .text-image .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .text-image .fa-star-o{
    background-color: orange;
    color:white;
    
  }
  .review-title{
    color:white
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    color:white;
  }
  .single-campsite-title{
width:100%;
position: relative;
  }
  .single-campsite-title p {
    font-size: 14px;
    color: #666;
  }
  
  .address-phone-container {
    /* margin-bottom: 20px; */
    display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-direction: column;
  }
  
  .phonenumber, .address {
    font-size: 16px;
    margin-bottom: 5px;
  }
  

  .hours-container {
    margin-bottom: 20px;
  }
  
  .hours-text {
    font-size: 20px;
    margin-bottom: 10px;
    color: #da3743;
  }
  
  .hours-open {
    font-size: 16px;
  }
  
  .Reviews-container {
    margin-top: 20px;

  }
  
  .review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .review-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .review-rating {
    margin: 10px 0;
  }
  
  .review-date {
    font-size: 14px;
    color: #999;
  }
  
  .review-text {
    margin: 10px 0;
    width:400px;
    word-wrap: break-word;
    max-width: 400px;
  }
  
  .edit-delete-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .review-delete, .review-edit {
    margin-left: 10px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
  }
  
   .review-delete button{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
   }

  .review-edit button{
    padding: 10px 20px;
    background-color: forestgreen;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  /* Button */
  .review-btn-container {
    margin-top: 20px;
  }
  
  .review-btn-container button {
    padding: 10px 20px;
    background-color: #0073bb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  hr{
    border-bottom: 2px #ccc;
    width: 100%;
  }
  /* .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .fa-star-o{
    background-color: orange;
    color:white;
    
  } */
  .overall-rating .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .overall-rating .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .overall-rating .fa-star-o{
    background-color: orange;
    color:white;
    
  }
  .review-rating .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .review-rating .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .review-rating .fa-star-o{
    background-color: orange;
    color:white;
    
  }
  .campsite-tips {
    margin-top: 20px;
  }
  
  .campsite-tips h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .campsite-tips .tent,
  .campsite-tips .sleep,
  .campsite-tips .sleep-pad,
  .campsite-tips .light,
  .campsite-tips .stove {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
  }
  
  .campsite-tips img {
    max-width: 100px;
  }
  
  .campsite-tips p {
    font-size: 16px;
    line-height: 1.4;
  }
  .single-campsite {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    margin-left: 20%;
    margin-right: 20%;
  }
  .phone-icon{
    height:25px;
    width:30px;
  }
  .map-icon{
    height:25px;
    width:30px;
  }
  .phone-text{
    font-size: 20px;
    margin-bottom: 10px;
    color: #da3743;
  }
  .address-text{
    font-size: 20px;
    margin-bottom: 10px;
    color: #da3743;
  }
  .like-button-container{
    width:15px;
    cursor: pointer;
  }
  .like-button{
    width:15px;
    cursor: pointer;
  }
  .fa-heart.active{
    color:red;
    cursor: pointer;
  }
.campsite-like-count{
  color:white;
}
.fa-heart{
  cursor: pointer;
}
