.single-campsite-container{
    /* margin-left: 20%;
    margin-right: 20%; */
    display:flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}
.single-campsite-title img {
    text-align: center;
  }
  .campsite-image{
    width: 100%;
    height: 600px;
    object-fit: cover;
  }
  .text-image{
position: absolute;
top:120px;
left:320px;


  }
  .text-image .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .text-image .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .text-image .fa-star-o{
    background-color: orange;
    color:white;
    
  }
  .review-title{
    color:white
  }
  .title {
    font-size: 24px;
    font-weight: bold;
    color:white;
  }
  .single-campsite-title{
width:100%;
  }
  .single-campsite-title p {
    font-size: 14px;
    color: #666;
  }
  
  .address-phone-container {
    /* margin-bottom: 20px; */
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    border: 1px solid #ddd;
    width:20rem;
    height:15rem;
    display: flex;
    text-align: center;
  }
  
  .phonenumber, .address {
    font-size: 16px;
    margin-bottom: 5px;
  }
  

  .hours-container {
    margin-bottom: 20px;
  }
  
  .hours-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .hours-open {
    font-size: 16px;
  }
  
  .Reviews-container {
    margin-top: 20px;
  }
  
  .review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .review-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .review-rating {
    margin: 10px 0;
  }
  
  .review-date {
    font-size: 14px;
    color: #999;
  }
  
  .review-text {
    margin: 10px 0;
  }
  
  .edit-delete-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .review-delete, .review-edit {
    margin-left: 10px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
  }
  
  /* Button */
  .review-btn-container {
    margin-top: 20px;
  }
  
  .review-btn-container button {
    padding: 10px 20px;
    background-color: #0073bb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  hr{
    border-bottom: 2px #ccc;
    width: 100%;
  }
  /* .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .fa-star-o{
    background-color: orange;
    color:white;
    
  } */
  .overall-rating .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .overall-rating .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .overall-rating .fa-star-o{
    background-color: orange;
    color:white;
    
  }
  .review-rating .fa-star{
    background-color: orange;
color:white;
width:20px;
height: 20px;
align-items: center;

  }
  .review-rating .fa-star-half{
    background-color: orange;
    color:white;
    width:20px;
height: 20px;
  }
  .review-rating .fa-star-o{
    background-color: orange;
    color:white;
    
  }