.rating-input .filled {
  color: white !important;
background-color: orange;

  }
  
  .rating-input .empty {
    color: white !important;
    background-color: gray;
  }
  .rating-input {
    display: flex;
    margin-right: 4px;
  }
.review-text-block{
  font-weight: bold;
  padding: 8px;
}
